.add {
  padding-top: 50px;
}

.writeimg {
  margin-left: 7px;
  width: 70vw;
  height: 163px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 25px;
  border: none;
}

.addform {
  position: relative;
}

.addformgroup {
  margin-left: 150px;
  // display: flex;
  align-items: center;
}

.writeicon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.writeinput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeinput:focus {
  outline: none;
}

.writetext {
  width: 70vw;
  height: 50vh;
  font-family: inherit;
  font-size: 20px;
}

.writesubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: #e1bb80;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
