.body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}

.link {
  text-decoration: none;
  color: inherit;
}
.app-wrapper {
  background-color: bisque;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
