.signup {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url(" https://th.bing.com/th/id/R.f8534f3a952b7998f9c0f4043a78c7d8?rik=m%2bLF8xj5aRsAHg&pid=ImgRaw&r=0");
  background-size: cover;
}

.signuptitle {
  font-size: 50px;
}

.signupform {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signupform > label {
  margin: 10px 0;
}

.signupinput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.signupinput:focus {
  outline: none;
}

.signupbutton {
  margin-top: 20px;
  cursor: pointer;
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

.registerloginbutton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: red;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
}
