.singleblog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleblogWrapper {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding: 20px;
  padding-right: 0;
}

.singleblogimg {
  width: 100%;
  height: 450px;
  border-radius: 5px;
  object-fit: cover;
}

.singleblogtitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  color: #08415c;
}

.singleblogedit {
  float: right;
  font-size: 16px;
}

.singleblogIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singleblogicon {
  color: black;
  padding-right: 15px;
}

.singledeleteicon {
  color: red;
  cursor: pointer;
}

.singlebloginfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: black;
  font-family: "Lato", sans-serif;
}

.postdesc {
  color: #03256c;
  font-size: 18px;
  line-height: 25px;
}
