.singlepost {
  flex: 9;
}

.singlepostWrapper {
  padding: 20px;
  padding-right: 0;
}

.singlepostimg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}

.singleposttitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singlepostedit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

.singleposticon {
  color: cadetblue;
  padding-right: 15px;
}

.singledeleteicon {
  color: red;
}

.singlepostinfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #8cbe56;
  font-family: "Lato", sans-serif;
}

.postdesc {
  color: #03256c;
  font-size: 18px;
  line-height: 25px;
}
